@use './../../lib/servise.scss' as s;

.button{
    background-color: s.color("mainSecond");
    color: white;
    text-decoration: none;
    border: none;
    max-width: 250px;
    width: 100%;
    text-align: center;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: opacity 0.3s ease;

    &:hover{
        opacity: 0.7;
    }
}




