{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<div class="produrt-create">
  <h1 class="produrt-create-title">{{info}}</h1>

  <a class="link-product col-4" href="/product-list">До списку товарів </a>
  <a class="link-product col-4" href="/product-create">Повернутися</a>
</div>

</div>

{{!
Цей код містить лише те, що буде виводитись в

<body>
  Адже наш layout/default.hbs має вже структуру HTML
  }}