{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}
<main>
  <div class="purchase-card">
      <div class="purchase-card-header">
          <h2 class="purchase-card-header-title">{{data.message}}</h2>
          <h3 class="purchase-card-header-subtitle">{{data.info}}</h3>
      </div>
      <a class="purchase-card-button" href="{{data.link}}">Повернутися</a>
  </div>

</main>




{{!
Цей код містить лише те, що буде виводитись в

<body>
  Адже наш layout/default.hbs має вже структуру HTML
  }}