{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}
<main>

  <div class="form">
    <h1 class="form-title">Список товарів</h1>

    <div class="form-product-list">
      {{#with data.products}}
      {{#if isEmply}}
      <div class="form-product-list-info">
        <strong>Список товарів пустий</strong>
        <a class="link-product col-12" href="/product-create">Створити товар</a>
      </div>

      {{else}}
      {{#each list}}
      <div class=" card-list ">


        {{> product-card}}

      </div>
      {{/each}}
      {{/if}}
      {{/with}}
    </div>
  </div>
  </div>
</main>


{{!
Цей код містить лише те, що буде виводитись в

<body>
  Адже наш layout/default.hbs має вже структуру HTML
  }}